/* Gui Stylesheet */


body {
	background:#fff;
	color:#fff;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:georgia;
	text-align:center;
	}
	
	h1 { }
	a { color:skyblue; text-decoration:none }
	canvas { pointer-events:none; z-index:10; position:relative; }

	#d { position:absolute; width: 100%; text-align:center; margin:1em 0 -4.5em 0; z-index:1000;background:#fff; }
			
			
	.materialImg { height: 24px; width:  33px; }
	.mouseHover { cursor: pointer; font-weight:550;} 
	.mouseHover:hover { opacity:0.35; }
	.menuHeader { background-color:#2fa1d7; z-index:1001;}
	.buttonImg:hover { opacity:0.7; cursor: pointer; }	
	.galleryImg:hover { opacity:0.6; cursor: pointer; }	
	.rounded { -moz-border-radius: 10px; border-radius: 10px; }
	.publishImg { margin-left:auto; margin-right:auto; opacity:1; background: #2fa1d7; color:#fff; padding: 20px; font-family:Helvetica, Verdana, Geneva, sans-serif; -moz-border-radius: 8px; border-radius: 8px; width: 520px;}
	.publishButtonCSS { cursor:pointer; display:inline; background: #000; opacity: 0.8; margin:20px 80px 1px; color:#fff; font-weight:600; width:150px; height:35px;}
	.tutButton { cursor:pointer; display:inline; background: #000; opacity: 0.8; margin:10px 30px 10px; padding: 20px; color:#fff; font-weight:600; font-size:16px;}
	.publishDesc { position:relative; background: #2fa1d7; opacity: 0.8; color:#fff; margin: 5px 40px 10px; padding: 10px; width:210px; display:inline-table; font-family:Helvetica, Verdana, Geneva, sans-serif; -moz-border-radius: 8px; border-radius: 8px; }
	.centered { margin-left:auto; margin-right:auto; }
	.largeDimText { font-size: 20px; font-weight:700; }
	.smallDimText { font-size: 10px; }
	
	.floatingTextContainer {
	padding: 10px; 
	opacity: 0.85;
	background: #000;  
	color:#fff; 
	border: 2px solid #000;
	font-family:Helvetica, Verdana, Geneva, sans-serif; 
	font-size:22px; 
	font-weight:400; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	margin-left:auto; 
	margin-right:auto; 
	position:absolute; 
	text-align:center;
	z-index: 1000;
	}	
	
	.blackContainer {
	padding: 8px; 
	background: #000; 
	color:#fff; 
	font-family:Helvetica, Verdana, Geneva, sans-serif; 
	font-size:14px; 
	font-weight:400; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	margin-left:auto; 
	margin-right:auto; 
	position:absolute; 
	text-align:center;
	z-index: 1000;
	}	

	.blueInnerLabel { 
	padding: 7px; 
	background: #2fa1d7; 
	color:#fff; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:18px; 
	font-weight:500; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-left:auto; 
	margin-right:auto; 
	position:relative; 
	display:inline-block; 
	text-align:center;
	z-index: 1000;
	}
	
	.blackInnerSmallText {
	padding: 5px; 
	background: #000;
	color:#fff; 
	font-family:Helvetica, Verdana, Geneva, sans-serif; 
	font-size:15px; 
	font-weight:500;
	position:relative; 
	text-align:center;
	z-index: 1000;
	}	
	
	.blackInnerLargeText { 
	padding:7px;
	color:#fff; 
	font-size:28px; 
	font-weight:700; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	position:relative; 
	text-align:center 
	}

	.blueInnerSmall { 
	padding: 10px; 
	margin: 5px;
	background: #2fa1d7; 
	color:#fff; 
	font-family:Helvetica, Verdana, Geneva, sans-serif; 
	font-size:14px; 
	font-weight:400; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	position:relative; 
	display:inline-block; 
	text-align:center 
	}	
	
	.whiteInnerSmall { 
	padding: 10px; 
	margin: 5px;
	background: #fff;
	opacity: 0.95; 
	color:#000; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:14px; 
	font-weight:400; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	position:relative; 
	display:inline-block; 
	text-align:center 
	}	
	.buttonVerySmall {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #2fa1d7; 
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: 500;
    font-size: 11px;
	cursor: pointer;
    display: block;
    padding-bottom:4px; padding-top:4px; padding-left:6px; padding-right:6px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    box-shadow: 0px 3px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    margin: 10px;
	text-align: center;
	z-index:1000;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	}

	.buttonVerySmall:active {
    -webkit-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	}	
	
	.buttonSmall {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #2fa1d7; 
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: 18px;
	cursor: pointer;
    display: block;
    padding-bottom:7px; padding-top:7px; padding-left:15px; padding-right:15px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    margin: 10px;
	text-align: center;
	z-index:1000;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	}

	.buttonSmall:active {
    -webkit-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	}	
	
	.buttonMedium {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #2fa1d7; 
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: 22px;
	cursor: pointer;
    display: block;
    padding-bottom:7px; padding-top:7px; padding-left:15px; padding-right:15px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    margin: 10px;
	text-align: center;
	z-index:1000;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	}

	.buttonMedium:active {
    -webkit-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	}	
	
	.buttonLarge {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #2fa1d7; 
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: 30px;
	cursor: pointer;
    display: block;
    padding-bottom:10px; padding-top:10px; padding-left:20px; padding-right:20px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px #277196, 0px 9px 17px rgba(0,0,0,.7);
    margin: 10px;
	text-align: center;
	z-index:1000;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	}

	.buttonLarge:active {
    -webkit-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #277196, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	}	
	
	/* Slider CSS */
	
	.dimensionDisplay { border: 0; color: #2fa1d7; font-weight: bold; font-size:22px; background: #FFF; width: 42px }
	