/* ----------------------------------------------------------------------------------

THINGS TO CHANGE
****************
1) Initial Setup : place where you change initial styling
2) Font Colors : place to change font colors
3) Background Colors : place to change background colors

---------------------------------------------------------------------------------- */


/* INITIAL SETUP ----------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6, p.lead {font-family: "Noto Sans", sans-serif; font-weight: 300}
.profile .leads {font-family: "Noto Sans", sans-serif; font-weight: 100}


/* FONT COLORS ------------------------------------------------------------------- */

body {color: #333;}
a {color: #333;}
.btn.btn-custom {color: white}

header .nav>li.active>a, header .nav-pills>.active>a, header .nav-pills>.active>a:hover, header .nav-pills>.active>a:focus {color: white;}
header a, header .nav > li > a { color: #555;}

section.dark, section.dark .title span {color: #999}


/* BACKGROUND COLORS ------------------------------------------------------------- */

body { background: url(../img/background/wood.png) repeat fixed }

header .nav>li.active>a, header .nav-pills>.active>a, header .nav-pills>.active>a:hover, header .nav-pills>.active>a:focus {background-color: #555}
.btn.btn-custom {background: #3f4c6b; text-shadow: none;}
.btn.btn-custom:hover {background: #333656; }

.flexslider.wide .flex-control-paging li a.flex-active {background: #aaa}
.flexslider.wide .flex-control-paging li a {background: #bbb}
.flexslider.wide .flex-control-paging li a:hover {background: #ccc;}

/* ---------------------------------------------------------------------------------- */
/* BASIC CUSTOMIZATION STOP HERE, PROCEED ONLY IF YOU NEED FURTHER CUSTOMIZATION */
/* ---------------------------------------------------------------------------------- */


/* header */
header {height: auto;}
header .brand {letter-spacing: -5px}
header nav {z-index: 2}
header .nav {margin:0;}
header .nav-pills > li > a {margin:0; padding:33px 20px}

/* Flexslider Wide */
.flexslider.wide .flex-control-paging li {margin: 0; height: 100%;}
.flexslider.wide .flex-control-paging li a {border-radius: 0; height: 57px; width: 40px;box-shadow: none;}
.flex-control-paging li a { border-radius: 0 }

@media (max-width: 767px) {
	header .nav-tabs>li, .nav-pills>li {float:none;}
	header .nav-pills > li > a {padding-top: 20px; padding-bottom: 20px}
}